[Unit]
Description=pitilt: pan/tilt daemon
Wants=network-online.target
After=network-online.target


[Service]
User=pitilt
Group=pitilt
ExecStart=/opt/pitilt/pitilt.sh
WorkingDirectory=/opt/pitilt
Restart=on-failure

[Install]
WantedBy=multi-user.target
